.wrapper {
    margin-left: 0;
    margin-right: 0;
    width: 6em;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

img {
    max-width: 100%;
}


